<div class="cards">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>signin/signup</mat-card-title>
          <mat-card-subtitle>angular</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="signin"> 
                    <form class="example-form" [formGroup]="loginForm">
                        <mat-form-field class="example-full-width">
                          <mat-label>Email</mat-label>
                          <input id="email" matInput placeholder="Email" formControlName="email" />
                        </mat-form-field>
                      
                        <mat-form-field class="example-full-width">
                          <mat-label>Password</mat-label>
                          <input id="password" type="password" matInput placeholder="Password" formControlName="password"/>
                        </mat-form-field>
                        <!-- <button class="mat-button" mat-raised-button color="primary" (click)="onClick()" >login</button> -->
                        <app-button [buttonType]="'mat-button'" [colorBtn]="'warn'" [title]="'login'" (submitValue)="onClick()">  </app-button>
                        <!-- [buttonType]="'mat-button'" -->
                        <app-input [formGroup]="formGroup" [formFields]="formFields"></app-input>
                      </form>
                </mat-tab>
                <mat-tab label="signup"> 
                  <!-- component sinup -->
                 <app-signup/>
                </mat-tab>
              </mat-tab-group>
       
        </mat-card-content>
       
      </mat-card>
</div>